html {
    font-family: 'Ubuntu', sans-serif;
    font-size:20pt;
}


a:visited {
    text-decoration: none;
    color: white;
}

a:link {
    text-decoration: none;
    color: darkgray;
}

a:hover {
    background: darkgreen;
}

#loginbox {
    position:absolute;
    right:10px;
    top:10px;
    color:darkslategray;
    font-size: 0.6em;
    cursor: pointer;
}

#headline {
    font-size: 1em;
    color: darkslategray;
}

#todobox{
    position:absolute;
    right:10px;
    top:50px;
    width:150px;
}

#contentbox {
    padding: 10px;
    font-size: 1em;
    min-height:300px;
    width:100%;
}

#todoheader {
    font-family: 'Kalam', cursive;
    font-size:0.75em;
    text-decoration:underline;
    color:blue;
}

#todo {
    font-family: 'Kalam', cursive;
    font-size:0.6em;
    color:blue;
}

#footer {
    background-color: black;
    width:100%;
    height:100px;
}

#footerbox {
    float: left;
    width:100%;
    text-align:center;
    color:white;
    padding:10px;
    font-size:0.6em;
    font-family: 'Kalam', cursive;
}


#welcomebox {
    padding: 5px;
    width: 200px;
    height:150px;
    position: absolute;
    left: 25px;
    top: 25px;
    background-color: darkslategrey;
    color:white;
    font-size: 0.6em;
}


#memberList {
    padding: 10px;
    font-size: 0.6em;
    color: darkslategray;
}

#lankopf {
    padding: 10px;
    height: auto;
}

#lantitel {
    padding: 5px;
    font-size: 1em;
}

#lanveranstalter {
    padding: 5px;
    font-size: 0.6em;
}

#lanbeschreibung {
    padding: 5px;
    font-size: 0.6em;
}

#lanadresse {
    float: right;
    padding: 5px;
    font-size: 0.6em;
}

#teilnehmen {
    float: right;
    padding: 5px;
}

#lanbanner {
}


#chatterbox {
    font-size: 0.6em;
    padding: 10px;
    width: 70%;
    min-height: 300px;
    background-color: lightblue;
}

#chatentrykopf {
    font-size: 0.8em;
    font-family: 'Ubuntu', sans-serif;
    color: darkslategray;
    text-decoration: underline;
}

#chatentry {
    padding: 10px;
    font-family: 'Kalam', cursive;
}